body {
  margin: 0;
  line-height: normal;
}

:root {
  /* fonts */
  --font-poppins: Poppins;

  /* font sizes */
  --font-size-xs: 12px;
  --font-size-lg: 18px;
  --font-size-sm: 14px;
  --font-size-xl: 20px;

  /* Colors */
  --color-forestgreen: #4caf50;
  --color-darkslategray-100: #3e423a;
  --color-white: #fff;
  --color-black: #000;
  --color-gainsboro-100: #e0e5e0;
  --color-lightgoldenrodyellow: #c3f4c5;
  --color-darkgray-100: #9d9d9d;

  /* Border radiuses */
  --br-11xl: 30px;
  --br-xl: 20px;
}
