body {
  margin: 0;
  line-height: normal;
}

:root {
  /* fonts */
  --font-poppins: Poppins;

  /* font sizes */
  --font-size-xl: 20px;
  --font-size-9xl: 28px;
  --font-size-xs: 12px;

  /* Colors */
  --color-white: #fff;
  --color-black: #000;
  --color-forestgreen: #4caf50;
  --color-gainsboro-100: #e0e5e0;
  --color-gainsboro-200: #d9d9d9;

  /* Border radiuses */
  --br-xl: 20px;
  --br-3xs: 10px;
  --br-11xl: 30px;
}
